<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lekton:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>



<body>
    
    <header>
        <div class="header-superior">
            <img class="logo" src="../public/images/logo-mercado-liebre.svg" alt="texto alternativo">
        
        
        <div class="buscador">
            <div class="input">Buscar productos, marcas</div>
        
        
        <div class="icono-buscador">
            <i class="fa fa-search"></i>
        </div>
        </div>
        <p class="formasDePago">
            <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
        </p> 
        </div>
        
        
        <nav>
            <ul>
                <div class="primerasPestañas">
                <li><a href="#"></a>Ofertas</li>
                </div>
                <div class="primerasPestañas">
                <li><a href="#"></a>Tiendas Oficiales</li>
                </div>
                <div class="primerasPestañas">
                <li><a href="#"></a>Vender</li>
                </div>
                <div class="primerasPestañas">
                <li><a href="#"></a>Ayuda</li>
                </div>

                <div class="primerasPestañas">
                <li><a href="#"></a>Crea tu cuenta  <i class="far fa-id-card"></i></li>
                </div>
                <div class="primerasPestañas">
                <li><a href="#"></a>Ingresa  <i class="fas fa-sign-in-alt"></i></li>
                </div>
                <div class="primerasPestañas">
                <li><a href="#"></a>Mis compras  <i class="fas fa-shopping-basket"></i></li>
                </div>
            </ul>
        </nav>
        
        <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
        </div>
        

    </header>
    
    <main>
        <form action="/" method="get">
            <label for="na">Nombre y Apellido</label>
            <input type="text" name="nombre" id="na" placeholder="Nombre y Apellido">
            <label for="nu">Nombre de usuario</label>
            <input type="text" name="usuario" id="nu" placeholder="Nombre de usuario">
            <label for="fecha">Fecha de nacimiento</label>
            <input type="date" name="nacimiento" id="fecha">
            <label for="Domicilio">Domicilio</label>
            <input type="text" name="Domicilio" id="Domicilio" placeholder="Ricchieri 838">
            
            <label for="comprador">Comprador</label>
            <input type="radio" name="comprador" id="comprador">
            <label for="Vendedor">Vendedor</label>
            <input type="radio" name="Vendedor" id="Vendedor">

            
        </form>
    </main>
    
    
    <footer>
        <section class="pie">
            
                <div class="espacios">
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            
        
        
        
            
                <div class="espacios">
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            
        
        
        
            
                <div class="espacios">
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </div>
            
        
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>


    </footer>    
</body>
</html>